.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.header-background {
  background: rgb(34,193,195);
  background: radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
  height: 4rem;
  font-size: calc(10px + 2vmin);
  color: white;
  filter:blur(2px);
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.header-content {
  position: relative;
  top: -4rem;
  display: flex;
  justify-content: space-evenly;
  
}

.App-link {
  color: #61dafb;
}

.body-background{
    background-image: url("./bg.jpg");
  
  height: 100vh;
  width: 100%;
  margin-top: -4rem;
  filter:blur(5rem)
}

.body-content{
  position: relative;
  top: -90vh;
  display: flex;
  justify-content: center;
}

.box{
  width: 65vh;
  height: 70vh;
  margin: 0 50px;
  border-radius: 1.2rem;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.bn31 {
  background-image: linear-gradient(to right, #006175 0%, #00a950 100%);
  border-radius: 40px;
  box-sizing: border-box;
  color: #00a84f;
  display: block;
  height: 50px;
  font-size: 1.4em;
  padding: 4px;
  position: relative;
  text-decoration: none;
  width: 7em;
  z-index: 2;
}

.bn31:hover {
  color: #fff;
}

.bn31 .bn31span {
  align-items: center;
  
  border-radius: 40px;
  display: flex;
  justify-content: center;
  height: 100%;
  transition: background 0.5s ease;
  width: 100%;
}

.bn31:hover .bn31span {
  background: transparent;
}