.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header-background {
  background: rgb(34,193,195);
  background: radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
  height: 10vh;
  font-size: calc(10px + 2vmin);
  color: white;
  filter:blur(2px);
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.header-content {
  position: relative;
  top: -4rem;
  display: flex;
  justify-content: space-evenly;
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.body-background{
  background-image: url("./bg.jpg");

height: 100vh;
width: 100vh;
margin-top: -4rem;
filter:blur(5rem)
}